# .env.example
# Arquivo de exemplo para variáveis de ambiente. 
# Renomeie para .env e preencha os valores correspondentes.
#=========================================================================================================

# Variáveis de ambiente para configuração do Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=
#=========================================================================================================
